<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户</title>
	<link rel="stylesheet" href="./static/main.css">
	<link rel="stylesheet" href="./static/iview.css">
	<link rel="stylesheet" href="./static/login.css">
	<script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
	<script src="https://cdn.bootcss.com/iview/2.9.2/iview.min.js"></script>
</head>
<body>
	 <div class="user" id="user" v-cloak>
		 <div class="main">
			<layout>
				<sider ref="side1" hide-trigger collapsible :collapsed-width="78">
					<div class="logo-con">
						<img src="./static/logo.jpg">
					</div>
					<i-menu active-name="2" theme="dark" width="auto" @on-select="selectMenu">
						<menu-item name="1"> 
							<icon type="ios-navigate"></icon>
							<span>经销商调配</span>
						</menu-item>
						<menu-item name="2">
							<icon type="ios-navigate"></icon>
							<span>用户管理</span>
						</menu-item>
					</i-menu>
				</sider>
				<layout>
					<div class="main-header">
						<div class="header-avator-con">
							<div class="user-dropdown-menu-con">
								<Row type="flex" justify="end" align="middle" class="user-dropdown-innercon">
									<dropdown transfer trigger="click" @on-click="handleClickUserDropdown">
										<a href="javascript:void(0)">
											<span class="main-user-name">{{ userName }}</span>
											<Icon type="arrow-down-b"></Icon>
										</a>
										<dropdown-menu slot="list">
											<dropdown-item name="ownSpace">个人中心</dropdown-item>
											<dropdown-item name="loginout" divided>退出登录</dropdown-item>
										</dropdown-menu>
									</dropdown>
									<Avatar :src="avatorPath" style="background: #619fe7;margin-left: 10px;"></Avatar>
								</Row>
							</div>
						</div>
					</div>
					<div class="single-page-con">
						<i-content :style="{overflow: 'auto', margin: '20px', background: '#fff'}">
							<Card :bordered="true">
            <p><i-button type="primary" @click="add">新增</i-button></p>
        </Card>

		<div style="width: 800px"><i-table border :columns="columns" :data="tableList"></i-table></div>
        
		<modal
			title="编辑用户权限"
			v-model="modal"
			class-name="vertical-center-modal"
			@on-ok="ok"
        	@on-cancel="cancel"
			:loading="true">
			<div>
				<span v-for="item in permissionList" class="permissions-checkbox">
					<input type="checkbox" :id="item.permissionName" :value="item.id" v-model="permissionNames">
					<label :for="item.permissionName">{{item.permissionName}}</label>
				</span>
			</div>
		</modal>
		<modal
			title="新增用户"
			v-model="addModal"
			class-name="vertical-center-modal"
			@on-ok="addOk"
        	@on-cancel="addCancel"
			:loading="true">
			<div class="form-con">
				<i-form ref="addForm" :model="form" :rules="rules">
					<form-item prop="userName" label="用户名">
						<i-input v-model="form.userName" placeholder="请输入用户名">
							<span slot="prepend">
								<Icon :size="16" type="person"></Icon>
							</span>
						</i-input>
					</form-item  >
					<form-item prop="password" label="密码">
						<i-input type="password" v-model="form.password" placeholder="请输入密码">
							<span slot="prepend">
								<Icon :size="14" type="locked"></Icon>
							</span>
						</i-input>
					</form-item>
					<form-item prop="realName" label="真实姓名">
						<i-input v-model="form.realName" placeholder="真实姓名">
							<span slot="prepend">
								<Icon :size="14" type="person"></Icon>
							</span>
						</i-input>
					</form-item>
					<form-item prop="mobile" label="手机号">
						<i-input v-model="form.mobile" placeholder="手机号" type="phone">
							<span slot="prepend">
								<Icon :size="14" type="android-call"></Icon>
							</span>
						</i-input>
					</form-item>
					
					<form-item>
						<i-button @click="handleSubmit" type="primary" long>确定</i-button>
					</form-item>
				</i-form>
				<p class="login-tip">用户名和密码必填</p>
			</div>
		</modal>
						</i-content>
					</div>
					
				</layout>
			</layout>
		</div>
		
    </div>
	<script>
		new Vue({
			el: "#user",
			data() {
				return {
					form: {
						userName: '',
						password: '',
						realName: '',
						mobile: ''
					},
					rules: {
						userName: [
							{ required: true, message: '用户名不能为空', trigger: 'blur' }
						],
						password: [
							{ required: true, message: '密码不能为空', trigger: 'blur' }
						],
						mobile: [
							{ validator: this.validatorMobile }
						]
						// pattern
					},
					modal: false,
					addModal: false,
					currentIndex: -1,
					permissionNames: [],
					permissionList: [
						{
							id: 1,
							permissionName: '北京'
						},
						{
							id: 2,
							permissionName: '天津'
						},
						{
							id: 3,
							permissionName: '上海/四川',
						},
						{
							id: 4,
							permissionName: '广州'
						},
						{
							id: 5,
							permissionName: '重庆'
						}
					],
					columns: [
						{
							title: '用户名',
							key: 'name',
							render: (h, params) => {
								return h('div', [
									h('Icon', {
										props: {
											type: 'person'
										}
									}),
									h('strong', params.row.name)
								]);
							},
							width: 250
						},
						{
							title: '手机号',
							key: 'mobile',
						},
						{
							title: '权限',
							key: 'permissions',
							render: (h, params) => {
								console.log(params.row.permissions[0].permissionName);
								return h('div',
									params.row.permissions.map((item) => {
										return [
											h('strong', item.permissionName),
											h('span', {style:{paddingRight: '10px'}}, '')
										];
									})
								);
							},
						},
						{
							title: '操作',
							key: 'action',
							width: 150,
							align: 'center',
							render: (h, params) => {
								return h('div', [
									h('Button', {
										props: {
											type: 'error',
											size: 'small'
										},
										on: {
											click: () => {
												this.currentIndex = params.index;
												this.edit(params)
											}
										}
									}, '编辑')
								]);
							}
						}
					],
					tableList: [
						{
							name: 'John Brown',
							mobile: 1851655121,
							permissions: [{id:1, permissionName:"北京"}, {id:3, permissionName:"上海/四川"}]
						},
						{
							name: 'Jim Green',
							mobile: 1851655122,
							permissions: [{id:1, permissionName:"北京"}, {id:2, permissionName:"天津"}]
						},
						{
							name: 'Joe Black',
							mobile: 1851655123,
							permissions: [{id:4, permissionName:"广州"}]
						},
						{
							name: 'Jon Snow',
							mobile: 1851655121,
							permissions: [{id:1, permissionName:"北京"}]
						}
					],
					userName: 'admin',
					isFullScreen: false,
					avatorPath: "https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3448484253,3685836170&fm=27&gp=0.jpg",
					};
			},
			mounted() {
				console.log(123);
			},
			methods: {
				selectMenu(name) {
					if (name == 1) {
						window.open("./index.html");
					}
					if (name == 2) {
						window.open("./user.html");
					}
				},
				handleClickUserDropdown() {

				},
				validatorMobile(rule, value, callback) {
					var regex = /\d{11}/;
					if(!value) {
						return callback(new Error('请输入电话号码'));
					}
					else if(!regex.test(value)) {
						return callback(new Error('请输入正确的电话号码'));
					}
					else {
						callback();
					}
				},
				addOk() {},
				addCancel() {},
				add() {
					this.addModal = true;
					console.log(123);
				},
				handleSubmit() {
					this.$refs.addForm.validate((valid) => {
						if (valid) {
							console.log('success');
							window.location.href = "./user.html";
						}
					});
				},
				edit(item) {
					this.modal = true;
					this.permissionNames = [];
					var hadPermissions = item.row.permissions;
					hadPermissions.forEach(item => {
						// console.log("item:", item);
						this.permissionNames.push(item.id)
					});
					
				},
				ok() {
					// this.tableList[this.currentIndex].permissions = [{id:1, permissionName:"北京"}];
					setTimeout(() => {
						this.modal = false;
					}, 2000);
					// window.location.reload(true);
					// this.$Message.info('Clicked ok');
				},
				cancel() {}
			}
		});
	</script>
	<style>
		.permissions-checkbox {
			padding: 5px;
		}
	</style>
</body>
</html>